* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #01f3f3;
  --secondary-400-clr: #686363be;
  --secondary-200-clr: #c9bdbdc4;
  --bg-primary: #77d9d9;
  --bg-secondary: #232426;
}

body {
  background: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 75vw;
}

.product__card {
  display: flex;
  justify-content: center;
  align-items: center;
}

picture {
  position: relative;
}

.color-code > p {
  position: absolute;
  border: 1px solid var(--secondary-200-clr);
  border-radius: 5px;
  color: var(--secondary-400-clr);
  padding: 5px;
  top: 5%;
  left: 5%;
  z-index: 2;
}

.color-code > p:is(:hover, :focus) {
  border: 2px solid var(--primary-clr);
  color: var(--primary-clr);
}

.types {
  background-color: var(--secondary-400-clr);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 45%;
  z-index: 3;
  border-radius: 25px;
  /* padding: 10px; */
  height: 25px;
  width: 60px;
}

.types > .type {
  background: var(--secondary-200-clr);
  width: 15px;
  height: 15px;
  border-radius: 25px;
}

.types > .type:is(:nth-child(1), :hover, :focus) {
  background: var(--primary-clr);
}

.product__content {
  background: var(--bg-secondary);
  padding: 15px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 35%;
}

.category {
  color: var(--primary-clr);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  text-transform: capitalize;
}

.seller {
  font-style: italic;
  color: var(--secondary-200-clr);
}

.price-and-rating {
  display: flex;
  justify-content: space-between;
}

.price {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.current__price {
  font-size: 1.6rem;
}

.original__price {
  font-size: 0.8rem;
  color: var(--secondary-clr);
}

.rating:is(:hover, :focus) {
  color: var(--primary-clr);
  cursor: pointer;
}

.amount {
  display: inline-flex;
  gap: 9px;
  text-transform: uppercase;
  font-size: 0.8em;
  /* width: 60%; */
  justify-content: space-around;
}

.tabs {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
}

.tabs > p {
  font-size: 11px;
}

.description {
  width: 30%;
}

.ribbons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ribbons > a {
  border-bottom: 3px solid var(--secondary-400-clr);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.ribbons a:hover {
  border-bottom: 3px solid var(--primary-clr);
}

/* .color,
.quantity,
.total-price {
  /* display: inline-flex;
    flex-direction: column;
    gap: 10px; */

.color-shcheme {
  background: var(--secondary-400-clr);
  border-radius: 25px;
  width: 35px;
  padding: 3px 0;
  display: inline-flex;
  justify-content: space-around;
}

.color-shcheme > div {
  background: var(--primary-clr);
  border-radius: 50px;
  width: 15px;
}

.color-shcheme > button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* border-radius: 50px; */
  /* width: 15px; */
}

.quantity-amount {
  background: var(--secondary-400-clr);
  border-radius: 25px;
  width: 50px;
  padding: 3px 0;
  display: inline-flex;
  justify-content: space-around;
}

.quantity-amount > button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.amount-per-quantity {
  background: var(--secondary-400-clr);
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border-radius: 25px;
  padding: 3px 0;
}

.button {
  background: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid var(--primary-clr);
  outline: none;
  padding: 8px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  /* width: 70%; */
}

.button:is(:nth-of-type(2), :hover) {
  background: var(--primary-clr);
  color: black;
  border: 2px solid var(--primary-clr);
}
